html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}
h1, h2, h3, .font-anton {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.025em;
}
.view {
    display: none;
}
.view.active {
    display: block;
}
.nav-link {
    cursor: pointer;
    transition: color 0.2s ease;
}
.filter-btn {
    background-color: #1F1F1F;
    border: 1px solid #333;
}
.filter-btn.active {
    background-color: #39FF14;
    color: #000000;
    border-color: #39FF14;
}
.cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
/* Build Page Specific Styles */
#build h3 {
    color: #FFFFFF;
}
#build .builder-option label {
    background-color: #1F1F1F;
    border-color: #333;
    border-width: 2px;
}
#build .builder-option label:hover {
    border-color: #444;
}
#build .builder-option label span {
   color: #FFFFFF;
}
#build .builder-option label .text-sm {
    color: #9CA3AF;
}
#build .builder-option input:checked + label {
    border-color: #39FF14;
    background-color: #111;
}

.missing-selection {
    color: #EF4444 !important;
    font-weight: 700;
}
.component-icon {
    font-size: 1.75rem;
    line-height: 1;
    color: #9CA3AF;
}
.compatibility-meter-bar {
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.product-card {
    perspective: 1000px;
    cursor: pointer;
    background-color: transparent;
}
.product-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.product-card.is-flipped .product-card-inner {
    transform: rotateY(180deg);
}
.product-card-front, .product-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0rem;
    overflow: hidden;
}
.product-card-back {
    transform: rotateY(180deg);
}